@use "../../helpers/font-mixins" as *;
@use "../../helpers/mixins" as *;

.general-update-button{
    background-color: transparent;
    gap: 10px;
    padding: 0px;
    height: auto;

    .general-update-button__textContent{
        @include bodyBold();
        color: var(--base-primary);
    }
}

.general-update-button:hover{
    .general-update-button__textContent{
        text-decoration: underline;
    }
}

.detalle-poliza__variant-update-button{
    
    @include mobilexl{
        .general-update-button__textContent{
            color: var(--red-icon-active);
        }
    }
}