@use "../helpers/variables" as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: none;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background-color);

  &.not-scroll {
    height: 100%;
    overflow: hidden;
  }
}

select,
option {
  font: -moz-pull-down-menu;
}

b,
strong {
  font-weight: normal;
}

i,
em {
  font-style: italic;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

sup,
sub {
  color: initial;
}

a {
  text-decoration: none;
  &:hover,
  &:focus-visible {
    text-decoration: none;
  }
}

ul{
  list-style: none;
}

button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--general-grey-button-gap);
  border-radius: $button-border-radius;
  padding: $button-padding;
  border: none;
  width: fit-content;
  cursor: pointer;
}

select {
  // Retirar estilos por defecto del navegador
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // Formato select
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding: 12px;

  border: 1px solid var(--select-default-border);
  border-radius: 4px;

  // Flecha
  
}