:root{
    --icon-font-family: 'secura-insurance-icons';
    --icon-size: 24px;

    --icon-filter: "\e90e";
    --icon-calendar: "\e90f";
    --icon-skip-right: "\e910";
    --icon-arrow-right: "\e911";
    --icon-back: "\e912";
    --icon-skip-left: "\e913";
    --icon-file: "\e914";
    --icon-copyright: "\e90d";
    --icon-telephone : "\e908";
    --icon-trash-alt : "\e909";
    --icon-mail : "\e90a";
    --icon-clock : "\e90b";
    --icon-check : "\e90c";
    --icon-arrow-dropdown : "\e900";
    --icon-burger_menu: "\e901";
    --icon-close: "\e902";
    --icon-globe: "\e903";
    --icon-lock: "\e904";
    --icon-phone: "\e905";
    --icon-power-off: "\e906";
    --icon-user : "\e907";
    --icon-arrow-down: "\e915";
}