@use "../../helpers/font-mixins" as *;
@use "../../helpers/mixins" as *;

.detalle-poliza-info{
    background-color: var(--proximas-renovaciones-page-info-bg-color);
    padding: var(--spacing-xl) var(--spacing-88);
    border-bottom: 1px solid var(--gray-01);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);

    .detalle.poliza-page-info__breadcrumbs{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xs);
    }

    .detalle.poliza-page-info__breadcrumbs span{
        @include body;
        color: var(--text-label);
    }

    .detalle.poliza-page-info__breadcrumbs .detalle-poliza-page-info__breadcrumbs__highlight{
        color: var(--base-primary);
    }
    
    .detalle-poliza-page-info__title-button {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs)
    }

    .detalle-poliza-page-info__title-button h2{
        @include subtitle();
        color: var(--text-title);
        height: 40px;
    }

    .detalle-poliza-page-info__title-button span{
        @include body();
        color: var(--text-label);
    }

    @include mobilexl{
        gap: var(--spacing-l);
        padding: var(--spacing-l) var(--spacing-m);

        .detalle-poliza-page-info__breadcrumbs{
            display: none;
        }

        .detalle-poliza-page-info__title-button{
            gap: 0px;
        }

        .detalle-poliza-page-info__title-button h2{
            @include bodyBold();    
            height: auto;
        }
    }
}