@use "../../helpers/mixins" as *;
@use "../../helpers/variables" as *;
@use "../../helpers/functions" as *;

.proximas-renovaciones-row {
    display: grid;
    grid-template-columns: repeat(var(--p-renovaciones-tabla-row-columns), 1fr);
    justify-items: left;
    align-items: center;
    padding: var(--p-renovaciones-tabla-row-padding);
    box-shadow: $p-renovaciones-tabla-row-box-shadow;
    border-radius: var(--p-renovaciones-tabla-row-border-radius);
    background-color: var(--proximas-renovaciones-tabla-row-background-color);
    .proximas-renovaciones__contenedor{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
    }

    .proximas-renovaciones__contenedor-title{
        display: none;
    }

    // Datos de la póliza
    .proximas-renovaciones-row__numPoliza,
    .proximas-renovaciones-row__nombreRiesgo,
    .proximas-renovaciones-row__fechaContrato,
    .proximas-renovaciones-row__fechaVencimiento,
    .proximas-renovaciones-row__importe
    {
        color: var(--proximas-renovaciones-tabla-row-data);
    }

    @include mobilexl{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--p-renovaciones-tabla-row-mobile-gap);
        padding: var(--p-renovaciones-tabla-row-mobile-padding);
        
        .proximas-renovaciones__contenedor-title{
            display: block;
        }
    }
}
