@use "../../helpers/font-mixins" as *;
@use "../../helpers/mixins" as *;
@use "../../helpers/variables" as *;

.proximas-renovaciones__filter{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    width: 100%;
    max-width: $page-contents-max-width;

    // Sistema de filtrado de pólizas
    .p-renovaciones__filter__filter{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-12);
    }

    .p-renovaciones__filter__filterContainer{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-12);
        flex-wrap: wrap;
    }

    // Sistema de ordenar y vista total de las pólizas
    .p-renovaciones__filter__num-selector{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .p-renovaciones__filter__num-selector__totalPolizas{
        @include bodyBold;
        color: var(--text-subtitle);
    }

    .p-renovaciones__filter__filter__dataContainer{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-m);
        flex-wrap: wrap;
    }

    .p-renovaciones__filter__num-selector__totalFiltros{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-m);
    }

    .p-renovaciones__filter__num-selector__totalFiltros__filtros{
        @include bodyBold;
        color: var(--text-subtitle);
        border-left: 2px solid var(--filter-container-left-border-color);
        padding-left: var(--spacing-m);
    }

    .p-renovaciones__filter__num-selector__totalFiltros__borrarFiltros{
        @include bodyBold;
        color: var(--base-primary);
        background-color: transparent;
        padding: 0px;
    }

    .p-renovaciones__filter__num-selector__selector{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-14);
        align-items: center;
    }

    .p-renovaciones__filter__num-selector__selector >span{
        @include body;
        color: var(--text-subtitle);
    }

    #pr-filter-button__contadorFiltros{
        display: none;
    }

    @include mobilexl{
        .p-renovaciones__filter__num-selector{
            flex-direction: column-reverse;
            gap: var(--spacing-l);
            align-items: start;
        }

        .filter-button--mobile{
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--filter-button-mobile-background-color);
            border-radius: 0px;
            border: none;
            border-top: 1px solid var(--filter-button-mobile-border-color);
        }

        .filter-button--mobile #pr-filter-button__contadorFiltros{
            @include bodyBold();
            display: block;
            background-color: var(--base-primary);
            color: white;
            border-radius: 40px;
            padding: 2px 8px;
        }
    }
}
    