@use "../../helpers/variables" as *;
@use "../../helpers/colors" as *;
@use "../../helpers/mixins" as *;

.header__submenu__dropdown{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    // display: none;

    background-color: var(--header-background-color);
    list-style: none;
    box-shadow: $header-submenu-dropdown-box-shadow;
    border-radius: var(--header-submenu-dropdown-border-radius);
    overflow: hidden;
    width: 100%;

    position: absolute; // Para colocarlo respecto al padre con position relative
    top: var(--dropdown-top-position);
    right: var(--dropdown-bottom-position);

    a{
        display: block;
        padding: var(--dropdown-item-padding);
        border-bottom: var(--dropdown-separator-weight) solid var(--neutral-gray-100);
        &:hover{
            background-color: var(--dropdown-hover-color);
        }
    }

    .dropdown-icon-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--dropdown-icon-content-gap);
    }

    li:last-child{
        border-bottom: none;
    }
}

// Opciones del mobile cuando están activos
.header__submenu__dropdown.mobile-active{
    @include mobilexl{
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
        top: var(--dropdown-mobile-top-position);
        height: calc(100vh - var(--dropdown-mobile-top-position));
        border-radius: var(--header-submenu-dropdown-mobilexl-border-radius);
        border-top: $nav-dropdown-separator-border;

        >li{
            border-bottom: $nav-dropdown-separator-border;
        }

        .profile-dropdown-context{
            border-top: $nav-dropdown-separator-border;
            border-bottom: $nav-dropdown-separator-border;
        }
    }

    &.header__mobile-burger-submenu{
        @include mobilexl{
            justify-content: space-between;
        }
    }

    &.language-dropdown{
        width: fit-content;
        min-width: var(--header-submenu-language-dropdown-min-width);
        align-items: center;
        padding: var(--header-submenu-language-dropdown-padding);
        height: fit-content;
        box-shadow: none;
        border: none;

        >li{
            width: 100%;
            border: none;
        }
    }
}

// Clase para mostrar los dropdowns de los submenús
.header__sd-desktop--visible{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
