@use "../../helpers/mixins.scss" as *;
@use "../../helpers/functions" as *;
@use "../../helpers/variables" as *;

.header__submenus{
    @include mobilexl{
        display: none;
    }
}

.header__submenus__container{
    display: flex;
    flex-direction: row;
    gap: toRem($header-submenus-gap);
}

.header__submenus li{
    position: relative;
}

