@use "../../helpers/functions.scss" as *;
@use "../../helpers/mixins.scss" as *;
@use "../../helpers/variables.scss" as *;

.header__submenus__mobile{
    display: none;

    .header__submenus__container{
        display: flex;
        flex-direction: row;
        gap: toRem($header-submenus-container-gap);
    }

    .mobile_submenu__button{
        background-color: transparent;
        border: none;
    }

    .mobile-submenu__toggle{
        display: none;
    }

    @include mobilexl{
        display: block;

        .header-submenu-button-hidden{
            display: none;
        }

        .mobile_submenu__button{
            padding: 0px;
        }
    }
}