@use "../../helpers/mixins" as *;

// Clase exclusiva de mobile
.header__mobile-burger-submenu__language-dropdown{
    @include mobilexl{
        position: relative;
        margin: var(--header-mobile-language-dropdown-margin);
        min-width: none;
        width: fit-content;

        .language-dropdown{
            position: absolute;
            top: var(--header-language-dropdown-top);
        }

        li{
            width: fit-content;
        }

        >a.header__submenu__item{
            height: auto;
            padding: 8px;
            text-align: center;
            display: flex;
            gap: 0px;
            min-width: 0;
            gap: 8px;
        }
    }
}