@use "../helpers/colors";
@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;

.header{
    padding: var(--spacing-m) var(--spacing-88);
    border: $header-border-width solid var(--header-background-color);
    border-bottom: 1px solid #EFF3F5;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    height: auto;
    
    .header__contentPrincipal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .header__navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $header-navBar-gap;
    }

    .header__navBar-left{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xl);
    }

    .header__navBar-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: $header-submenus-gap; // o el gap que corresponda
    }

    .header__logo-container{
        width: toRem($header-logo-container-width);
        border:none;
    }

    .header__desktop-submenu{
        display: flex;
        flex-direction: row;
        gap: $header-submenus-gap;
        list-style: none;
        align-items: center;
    }

    // Grid Areas para el mobile
    //-----------------------------------------------------------
    .header__navBar{
        grid-area: navBar;
    }

    .header__submenus__mobile,
    .header__submenus{
        grid-area: sidemenu;
    }

    .header__mobile-burger-submenu,
    .header__mobile-profile-submenu{
        grid-area: submenu;
    }

    // MEDIA QUERIES
    // ----------------------------------------------------------

    @include mobilexl{
        padding: var(--spacing-xs) var(--spacing-m);

        .header__contentPrincipal{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: 
                "navBar sidemenu" "submenu submenu";
        }
    }
}