@use "../helpers/font-mixins" as *;

#modal-pr-filtros-contents{
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    min-width: 496px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // HEADER
    .modal-filtros-pr-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 40px;
        border-bottom: 1px solid var(--modal-pr-filtros-header-border-color);
    }

    .modal-filtros-pr-header .modal-filtros-pr-header__filter{
        @include bodyBold();
        color: var(--modal-pr-filtros-header-title-color);
    }

    // CONTENTS
    .modal-filtros-pr-filters{
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100%;
        gap: 32px;
    }

    .modal-filtros-pr-filters >div{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }
    
    .modal__label{
        @include bodyBold();
    }

    // Fechas de validez
    .modal-filtros-pr-filters__fecha-validez__selectors{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        gap: 24px;
    }

    .modal-filters__fecha-validez__input{
        flex: 1;
    }

    .modal-filtros-pr-filters__fecha-validez__selectors >span{
        width: fit-content;
        flex: 0;
    }

    // Importes
    .modal-filtros-pr-filters__importe_minimo,.modal-filtros-pr-filters__importe_maximo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    .modal-filtros-pr-filters__importe_minimo label,
    .modal-filtros-pr-filters__importe_maximo label{
        flex: 0 0 auto;
        min-width: 150px;
        flex-wrap: nowrap;
        width: fit-content;
    }

    #modal-filtros-pr-filters__importe-min-input,
    #modal-filtros-pr-filters__importe-max-input{
        flex: 1;
    }

    // FOOTER
    .modal-filtros-pr-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid var(--modal-pr-filtros-header-border-color);
        padding: 12px 40px;
    }
}