@use "../helpers/font-mixins" as *;
@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.detalle-poliza-card{
    background-color: white;
    border-radius: var(--spacing-xs);
    padding: var(--spacing-l);
    box-shadow: $detalle-poliza-card-box-shadow;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .detalle-poliza__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .detalle-poliza__header h2{
        @include subtitle();
        color: var(--text-title);
    }

    .detalle-poliza__contents{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    .detalle-poliza__header-save-button{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        display: block;

        transition: all 0.3s ease-in;
    }

    .detalle-poliza__header-save-button--hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    @include mobilexl{
        gap: var(--spacing-m); // Preguntar a Alexandra
        padding: var(--spacing-m);

        .detalle-poliza__contents{
            gap: var(--spacing-m);
        }
    }

    // DETALLES DE LA CARD VARIANT
    .detalle-poliza__contents__edit{
        display: flex;
        flex-direction: row;
    }

    .detalle-poliza__contents__edit--hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }
}