@use "../helpers/mixins" as *;
@use "../helpers/functions" as *;
@use "../helpers/variables" as *;

.homepage_contents, .pr-page_contents{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    padding: var(--homepage-contents-padding);
    min-height: var(--homepage-contents-min-height);
    
    align-items: center;

    @include mobilexl{
        gap: var(--homepage-contents-mobile-gap);
        padding: var(--homepage-contents-mobile-padding);
    }
}

.homepage_contents--d-poliza{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);
    padding: var(--homepage-contents-padding);
    min-height: var(--homepage-contents-min-height);
    
    align-items: center;

    @include mobilexl{
        gap: var(--spacing-xl);
        padding: var(--homepage-contents-mobile-padding);
    }
}